Mint/src/main/webapp/schemas_old/carare-v1.0.4.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--CARARE schema XSD v1.0.4-->
<xs:schema xmlns="http://www.dcu.gr/carareSchema" elementFormDefault="qualified" targetNamespace="http://www.dcu.gr/carareSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="carare">
    <xs:annotation>
      <xs:documentation xml:lang="en">The CARARE schema start element. It wraps exactly one collection information wrapper and zero or more of each of the other global wrappers (Monument, Digital resource, Activity).</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:group minOccurs="1" ref="collectionInformation" />
        <xs:group minOccurs="1" ref="heritageAssetIdentification" />
        <xs:group minOccurs="0" ref="digitalResource" />
        <xs:group minOccurs="0" ref="activity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:group name="collectionInformation">
    <xs:annotation>
      <xs:documentation xml:lang="en">The following elements provide a collection-level description of the resources to be harvested</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="collectionInformation">
        <xs:annotation>
          <xs:documentation>The following elements provide a collection-level description of the resources to be harvested.
Content providers are strongly recommended to complete this element.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="unbounded" name="title">
              <xs:annotation>
                <xs:documentation>the title of the collection. The element may be repeated using the XML:lang attribute if the element value is available in alternate languages. A preferred/alternate attribute may be used to indicate the preferred value (or value of preference).
Content providers are strongly recommended to complete this element.</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension base="xs:string">
                    <xs:attribute name="lang" type="xs:string" use="optional" />
                    <xs:attribute name="preferred" type="xs:boolean" use="optional" />
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="keywords">
              <xs:annotation>
                <xs:documentation>for the collection. The element may be repeated using the XML:lang attribute if the element value is available in alternate languages. Use of a controlled vocabulary such as the Getty Arts and Architecture Thesaurus is recommended (especially using terms from the Objects facet, and the Styles and Periods facet). The controlled vocabulary used must be indicated using an attribute.</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension base="xs:string">
                    <xs:attribute name="lang" type="xs:string" use="optional" />
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="contacts" type="contacts">
              <xs:annotation>
                <xs:documentation>for the collection</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="rights" type="rights">
              <xs:annotation>
                <xs:documentation>associated with the collection as a whole
Content providers are strongly recommended to complete this element.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="1" name="source" type="xs:string">
              <xs:annotation>
                <xs:documentation>the organization that is the source of the collection
Content providers are strongly recommended to complete this element.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="language">
              <xs:annotation>
                <xs:documentation>of the metadata. Specifies the default language of the records in the collection; deviations in particular records are specified in the record metadata, and deviations in particular elements are specified using the xml:lang attribute where allowed. Specified (like the xml:lang attribute) using ISO 639-1:2002, i.e. standard two letter language codes (en, fr, etc.).
Content providers are strongly recommended to complete this element.</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension base="xs:string">
                    <xs:attribute name="lang" type="xs:string" use="optional" />
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="statement">
              <xs:annotation>
                <xs:documentation>free text. The element may be repeated using the XML:lang attribute if the element value is available in alternate languages. A preferred/alternate attribute may be used to indicate which value is preferred.</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension base="xs:string">
                    <xs:attribute name="lang" type="xs:string" use="optional" />
                    <xs:attribute name="preferred" type="xs:boolean" use="optional" />
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="creation">
              <xs:annotation>
                <xs:documentation>information about how the resources being harvested were collected includes:</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" maxOccurs="unbounded" name="createdOn" type="xs:string">
                    <xs:annotation>
                      <xs:documentation>when the collection was created</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element minOccurs="0" maxOccurs="unbounded" name="query" type="xs:string">
                    <xs:annotation>
                      <xs:documentation>The query used to extract the data.</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="coverage">
              <xs:annotation>
                <xs:documentation>of the collection</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" maxOccurs="unbounded" name="temporal" type="temporal">
                    <xs:annotation>
                      <xs:documentation>general temporal coverage of the collection</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element minOccurs="0" maxOccurs="unbounded" name="spatial" type="spatial">
                    <xs:annotation>
                      <xs:documentation>general spatial coverage of the collection, e.g. the country covered.</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="spatialReferenceSystem">
              <xs:annotation>
                <xs:documentation>Use of a controlled vocabulary is recommended, and, in that case, the vocabulary used must be indicated using an attribute. The OGC URN scheme for spatial reference systems is recommended for use.
Content providers are strongly recommended to complete this element.</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension base="xs:string">
                    <xs:attribute name="preferred" type="xs:boolean" use="optional" />
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:group name="heritageAssetIdentification">
    <xs:annotation>
      <xs:documentation xml:lang="en">Holds the metadata for a monument (archaeological monument, historic building, industrial monument, archaeological landscape area, shipwreck, artifact, ecofact), including descriptive and administrative metadata.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="unbounded" name="heritageAssetIdentification">
        <xs:annotation>
          <xs:documentation>Holds the metadata for a monument (archaeological monument, historic building, industrial monument, archaeological landscape area, shipwreck, artifact, ecofact), including descriptive and administrative metadata.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="recordInformation">
              <xs:annotation>
                <xs:documentation>The ID, language, creation information and other metadata describing the record. The ID element of this information block holds the ID assigned by the content provider.</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:complexContent mixed="false">
                  <xs:extension base="recordInformation" />
                </xs:complexContent>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="1" maxOccurs="unbounded" name="appellation" type="appellation">
              <xs:annotation>
                <xs:documentation>Information about the identifier (ID) and name of the monument. </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="1" maxOccurs="1" name="description" type="description">
              <xs:annotation>
                <xs:documentation>free text. The description of the features of the archaeological monuments, historic buildings, industrial monuments, archaeological landscape areas, shipwreck, artefact or ecofact.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="actors" type="actors">
              <xs:annotation>
                <xs:documentation>The actors involved with this monument; may be repeated</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="designations">
              <xs:annotation>
                <xs:documentation xml:lang="en">This is information about any designations for a monument or building which provide it with protection in law.  There may be more than one designation. </xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" maxOccurs="1" name="protectionType">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">the type of designation or protection.</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                      <xs:simpleContent>
                        <xs:extension base="xs:string">
                          <xs:attribute name="lang" type="xs:string" use="optional" />
                        </xs:extension>
                      </xs:simpleContent>
                    </xs:complexType>
                  </xs:element>
                  <xs:element minOccurs="0" maxOccurs="1" name="grade">
                    <xs:annotation>
                      <xs:documentation>the grade or level of protection.</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                      <xs:simpleContent>
                        <xs:extension base="xs:string">
                          <xs:attribute name="lang" type="xs:string" />
                        </xs:extension>
                      </xs:simpleContent>
                    </xs:complexType>
                  </xs:element>
                  <xs:element minOccurs="0" maxOccurs="1" name="dateFrom" type="xs:date">
                    <xs:annotation>
                      <xs:documentation>the date it came into force.</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element minOccurs="0" maxOccurs="1" name="dateTo" type="xs:date">
                    <xs:annotation>
                      <xs:documentation>the date until which the monument will be / has been protected.</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="conditions">
              <xs:annotation>
                <xs:documentation>This is information about the condition of a monument or building. The element is repeatable.</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" maxOccurs="1" name="condition" type="xs:string">
                    <xs:annotation>
                      <xs:documentation>the observed condition (e.g. good, fair, bad, poor, part destroyed, under restoration.)</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element minOccurs="0" maxOccurs="1" name="conditionAssessment" type="xs:string">
                    <xs:annotation>
                      <xs:documentation>A detailed assessment of the condition of a Heritage Asset, of any treatment required and an estimation of the percentage of the monument affected.</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element minOccurs="0" maxOccurs="1" name="conditionDate" type="xs:string">
                    <xs:annotation>
                      <xs:documentation>the date when the assessment of condition was made.</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element minOccurs="0" maxOccurs="unbounded" name="relations">
                    <xs:annotation>
                      <xs:documentation>to an associated event/activity.</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                      <xs:simpleContent>
                        <xs:extension base="xs:string">
                          <xs:attribute name="id" type="xs:string" />
                          <xs:attribute name="url" type="xs:string" />
                        </xs:extension>
                      </xs:simpleContent>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="1" name="characters">
              <xs:annotation>
                <xs:documentation>This is a set of index information to describe the character of the monument
Content providers are strongly recommended to complete this element.</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" maxOccurs="unbounded" name="heritageAssetType">
                    <xs:annotation>
                      <xs:documentation>classification of the monument, building, landscape feature, artefact or ecofact primarily with respect to its function or use, e.g. house. Use of a controlled vocabulary is recommended; the vocabulary used should be indicated using an attribute. No particular common vocabulary is recommended for use.
Content providers are strongly recommended to complete this element.</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                      <xs:simpleContent>
                        <xs:extension base="xs:string">
                          <xs:attribute name="namespace" type="xs:string" use="optional">
                            <xs:annotation>
                              <xs:documentation>this is the name/location of the controlled vocabulary from which the term is taken.</xs:documentation>
                            </xs:annotation>
                          </xs:attribute>
                        </xs:extension>
                      </xs:simpleContent>
                    </xs:complexType>
                  </xs:element>
                  <xs:element minOccurs="0" maxOccurs="unbounded" name="temporal" type="temporal">
                    <xs:annotation>
                      <xs:documentation>Information about the date and/or period of an entity.
Content providers are strongly recommended to complete this element.</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element minOccurs="0" maxOccurs="unbounded" name="materials" type="xs:string">
                    <xs:annotation>
                      <xs:documentation>The basic materials of which a monument is composed, e.g. brick, stone, tile. Use of a controlled vocabulary is recommended, and the vocabulary used may be indicated with an attribute. No particular common vocabulary is recommended for use.</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element minOccurs="0" maxOccurs="unbounded" name="inscriptions">
                    <xs:annotation>
                      <xs:documentation>Text inscribed on a monument or building, if any. The element may be repeated using the XML:lang attribute if the element value is available in alternate languages. A preferred/alternate attribute may be used to indicate which value is preferred. The type of inscription may be indicated using an attribute. Use of a controlled vocabulary to indicate the type of inscription is recommended, and the vocabulary used may be indicated using an attribute. No particular common vocabulary is recommended for use.</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                      <xs:simpleContent>
                        <xs:extension base="xs:string">
                          <xs:attribute name="lang" type="xs:string" use="optional" />
                          <xs:attribute name="type" type="xs:string" use="optional" />
                          <xs:attribute name="namespace" type="xs:string" use="optional" />
                          <xs:attribute name="preferred" type="xs:boolean" use="optional" />
                        </xs:extension>
                      </xs:simpleContent>
                    </xs:complexType>
                  </xs:element>
                  <xs:element minOccurs="0" maxOccurs="unbounded" name="dimensions" type="dimensions" />
                  <xs:element minOccurs="0" maxOccurs="unbounded" name="craft" type="craft">
                    <xs:annotation>
                      <xs:documentation>This is a set of information to describe shipwrecks if any</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="repositoryLocation" type="xs:string">
              <xs:annotation>
                <xs:documentation>identification of the institution with custody of the artefact and possibly the current location.
Content providers are strongly recommended to complete this element.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="1" maxOccurs="unbounded" name="spatial" type="spatial">
              <xs:annotation>
                <xs:documentation>This is information about the place at which the heritage asset is located, included named places, postal address, the map coordinates and geometry of the heritage asset.
Content providers are strongly recommended to complete this element.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="references">
              <xs:annotation>
                <xs:documentation>These are sources of information about the heritage asset in publications and archival sources (for example, photographs, drawings, plans, bibliographic references etc.). Digital objects (image, text, video, audio, 3D model, etc.) which are accessible online and will represent the asset in Europeana should be describe as Digital Resources, not References.</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" maxOccurs="1" name="recordInformation" type="recordInformation" />
                  <xs:element minOccurs="0" maxOccurs="unbounded" name="appellation" type="appellation">
                    <xs:annotation>
                      <xs:documentation>the ID and name given to the information source. </xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element minOccurs="0" maxOccurs="unbounded" name="actors" type="actors">
                    <xs:annotation>
                      <xs:documentation>(creator, author, contributor, editor, etc.)</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element minOccurs="0" maxOccurs="1" name="type" type="xs:string">
                    <xs:annotation>
                      <xs:documentation>(archive, file, record, book, chapter, article etc.) Use of a controlled vocabulary is recommended, and the vocabulary used may be indicated using an attribute. No particular common vocabulary is recommended for use.</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element minOccurs="0" maxOccurs="1" name="medium" type="xs:string">
                    <xs:annotation>
                      <xs:documentation>the medium or physical carrier of the resource.</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element minOccurs="0" maxOccurs="1" name="extent" type="xs:string">
                    <xs:annotation>
                      <xs:documentation>the size or extent of the resource</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element minOccurs="0" maxOccurs="unbounded" name="subject" type="xs:string">
                    <xs:annotation>
                      <xs:documentation>the topic of the resource. Use of a controlled vocabulary is recommended, and the vocabulary used may be indicated using an attribute. No particular common vocabulary is recommended for use.</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element minOccurs="0" maxOccurs="unbounded" name="rights" type="xs:string" />
                  <xs:element minOccurs="0" maxOccurs="unbounded" name="publicationStatement" type="publicationStatement" />
                  <xs:element minOccurs="0" maxOccurs="1" name="note" type="xs:string" />
                  <xs:element minOccurs="0" maxOccurs="unbounded" name="relations" type="relations">
                    <xs:annotation>
                      <xs:documentation>of the reference</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="relations" type="relations">
              <xs:annotation>
                <xs:documentation>of the heritage asset to other heritage assets, resources, events etc.</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:group name="digitalResource">
    <xs:annotation>
      <xs:documentation xml:lang="en">These are digital resources (image, text, video, audio, 3D model) that are being made accessible to the service environment (e.g. CARARE, Europeana).  Use this to describe those digital objects which will represent a heritage asset in Europeana. (And use Reference under Heritage Asset to describe other sources of information about the asset, e.g. bibliographic references or analogue representations of the object.)</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="unbounded" name="digitalResource">
        <xs:annotation>
          <xs:documentation>These are digital resources (image, text, video, audio, 3D model) that are being made accessible to the service environment (e.g. CARARE, Europeana).  Use this to describe those digital objects which will represent a heritage asset in Europeana. (And use Reference under Heritage Asset to describe other sources of information about the asset, e.g. bibliographic references or analogue representations of the object.)</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="recordInformation" type="recordInformation">
              <xs:annotation>
                <xs:documentation>The ID, language, creation information and other metadata describing the record. The ID element of this information block holds the ID assigned by the content provider, cf. section 8.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="1" maxOccurs="unbounded" name="appellation" type="appellation">
              <xs:annotation>
                <xs:documentation>the ID and the name given to the information source (see section 11).</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="actors" type="actors">
              <xs:annotation>
                <xs:documentation>The actors involved in the creation of a digital resource</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="format" type="xs:string">
              <xs:annotation>
                <xs:documentation>The file format of the resource. Recommended best practice is to use a controlled vocabulary such as the list of Internet Media Types (MIME).</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="formatDetails" type="xs:string">
              <xs:annotation>
                <xs:documentation>Additional information about the file or its production that could be of use in selecting an appropriate viewer for the resource, such as specific codecs (DivX, Xvid, wmv etc.) used.
Content providers are strongly recommended to complete this element.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="medium" type="xs:string">
              <xs:annotation>
                <xs:documentation>The medium or physical carrier of the resource.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="extent" type="xs:string">
              <xs:annotation>
                <xs:documentation>The size or extent of the resource, including the unit of measurement.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="spatial" type="spatial">
              <xs:annotation>
                <xs:documentation>The spatial characteristics of the digital resource (as opposed to the heritage asset it might represent).
Content providers are strongly recommended to complete this element.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="subject" type="xs:string">
              <xs:annotation>
                <xs:documentation>The topic of the resource. Use of a controlled vocabulary such as Getty Arts and Architecture thesaurus is recommended, and the vocabulary used may be indicated using an attribute.
Content providers are strongly recommended to complete this element.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="temporal" type="temporal">
              <xs:annotation>
                <xs:documentation>Use for dates associated with the topic of the resource, e.g. for digitised copies of historic photographs use for the date when the original photograph was taken (the date of the view of the monument)
Content providers are strongly recommended to complete this element.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="publicationStatement" type="publicationStatement">
              <xs:annotation>
                <xs:documentation>(see section 11)</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="1" name="type" type="xs:string">
              <xs:annotation>
                <xs:documentation>The nature or genre of the resource. Use of the DCMI controlled vocabulary is recommended, and the vocabulary used may be indicated using an attribute.
Content providers are strongly recommended to complete this element.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="1" maxOccurs="1" name="description" type="description">
              <xs:annotation>
                <xs:documentation>The description of the resource, e.g. describe the view of the monument.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="note" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="created" type="xs:string">
              <xs:annotation>
                <xs:documentation>This is the date when the resource was created</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="1" name="provenance" type="xs:string">
              <xs:annotation>
                <xs:documentation>A statement of any changes in ownership and custody of the resource since its creation that are significant for its authenticity, integrity, and interpretation.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="language">
              <xs:annotation>
                <xs:documentation>Use for the language of the resource, e.g. the language sub-titles or a voice-over in a movie or a Virtual Reality model of a monument. Specified (like the xml:lang attribute) using ISO 639-1:2002, i.e. standard two letter language codes (en, fr, etc.).</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension base="xs:string">
                    <xs:attribute name="lang" type="xs:string" />
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="1" maxOccurs="1" name="link" type="xs:string">
              <xs:annotation>
                <xs:documentation>The URL of the resource. A reference to the digital object on the content provider’s web site in the best available resolution/quality. (i.e. a link to the resource as a text, image, sound, or video file, not to the webpage that contains it.) Data here will allow the full functionality of Europeana and the automatic generation of a thumbnail by them.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="1" name="object" type="xs:string">
              <xs:annotation>
                <xs:documentation>A URL containing a thumbnail or other reduced-quality version of the resource.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="1" name="isShownAt" type="xs:string">
              <xs:annotation>
                <xs:documentation>A URL to the digital object on the content provider’s website in its full information context.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="1" name="resourceMetadataLocation" type="xs:string">
              <xs:annotation>
                <xs:documentation>Pointer to other information about the resource making the resource available</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="relations" type="relations">
              <xs:annotation>
                <xs:documentation>To heritage assets, other resources or to references.
Content providers are strongly recommended to complete this element.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="rights" type="rights">
              <xs:annotation>
                <xs:documentation>Content providers are strongly recommended to complete this element.</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:group name="activity">
    <xs:annotation>
      <xs:documentation xml:lang="en">This is information about the events or activities that the monument has taken part in, for example: Field investigation; Research and analysis; Creation; Change in use; Historical events, etc. </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="activity">
        <xs:annotation>
          <xs:documentation>This is information about the events or activities that the monument has taken part in, for example: Field investigation; Research and analysis; Creation; Change in use; Historical events, etc. </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="recordInformation" type="recordInformation">
              <xs:annotation>
                <xs:documentation>The ID, language, creation information and other metadata describing the record. The ID element of this information block holds the ID assigned by the content provider
Content providers are strongly recommended to complete this element.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="1" name="appellation" type="appellation">
              <xs:annotation>
                <xs:documentation>This is the name of the event.
Content providers are strongly recommended to complete this element.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="1" name="description" type="description">
              <xs:annotation>
                <xs:documentation>Of the event or activity which took place</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="actors" type="actors">
              <xs:annotation>
                <xs:documentation>The people or organisations involved in this event, may be repeated.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="1" name="eventType">
              <xs:annotation>
                <xs:documentation>Classification of the type of event or activity which took place, e.g. survey, archaeological excavation, rebuilding. Use of a controlled vocabulary is recommended.
Content providers are strongly recommended to complete this element.</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension base="xs:string">
                    <xs:attribute name="term" type="xs:string" />
                    <xs:attribute name="namespace" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>this is the name/location of the controlled vocabulary from which the term is taken.</xs:documentation>
                      </xs:annotation>
                    </xs:attribute>
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="1" maxOccurs="unbounded" name="temporal" type="temporal">
              <xs:annotation>
                <xs:documentation>the date or time span of the event.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="1" name="spatial" type="spatial">
              <xs:annotation>
                <xs:documentation>The location or area covered by the event.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="assessments">
              <xs:annotation>
                <xs:documentation>assessments made of the monument during the event, e.g. of the condition of the monument.  Use of a controlled vocabulary is recommended.</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension base="xs:string">
                    <xs:attribute name="term" type="xs:string" use="optional" />
                    <xs:attribute name="namespace" type="xs:string" use="optional">
                      <xs:annotation>
                        <xs:documentation>this is the name/location of the controlled vocabulary from which the term is taken.</xs:documentation>
                      </xs:annotation>
                    </xs:attribute>
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="eventMethod" type="xs:string">
              <xs:annotation>
                <xs:documentation>the method by which the event is carried out</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="materialsAndTechniques" type="xs:string">
              <xs:annotation>
                <xs:documentation>the materials and/or techniques used during the event. Use of a controlled vocabulary is recommended, and the vocabulary used may be indicated using an attribute. No particular common vocabulary is recommended.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="relations" type="relations">
              <xs:annotation>
                <xs:documentation>of the event to other events, references, resources etc.</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:complexType name="recordInformation">
    <xs:annotation>
      <xs:documentation xml:lang="en">The ID, language, creation information and other metadata describing the record. The ID element of this information block holds the ID assigned by the content provider, cf. section 8. </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="id" type="xs:string">
        <xs:annotation>
          <xs:documentation>i.e. the local ID number in the content providers’ information system; it is unique within the collection, but may follow any schema.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="type" type="xs:string">
        <xs:annotation>
          <xs:documentation>of the record. Use of a controlled vocabulary is recommended, and the vocabulary used should be indicated using an attribute. No particular common vocabulary is recommended for use.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="source" type="xs:string">
        <xs:annotation>
          <xs:documentation>of the record (the name of the organization that maintains the record)
Content providers are strongly recommended to complete this element.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="country" type="xs:string">
        <xs:annotation>
          <xs:documentation>Content providers are strongly recommended to complete this element.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="creation">
        <xs:annotation>
          <xs:documentation>when created and by whom;</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="date" type="xs:date">
              <xs:annotation>
                <xs:documentation>Content providers are strongly recommended to complete this element.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="actor" type="actors" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="update">
        <xs:annotation>
          <xs:documentation>the date of the last update to the record and by whom.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="date" type="xs:date" />
            <xs:element minOccurs="0" maxOccurs="unbounded" name="actor" type="actors" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="language">
        <xs:annotation>
          <xs:documentation>(of the metadata record). Specifies the default language of the record; deviations in particular elements are specified using the xml:lang attribute where allowed. Specified (like the xml:lang attribute) using ISO 639-1:2002, i.e. standard two letter language codes (en, fr, etc.).
Content providers are strongly recommended to complete this element.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:string">
              <xs:attribute name="lang" type="xs:string" />
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="rights" type="rights">
        <xs:annotation>
          <xs:documentation>to the metadata</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="keywords">
        <xs:annotation>
          <xs:documentation>for the record. The element may be repeated using the XML:lang attribute if the element value is available in alternate languages. Use of a controlled vocabulary such as Getty Arts and Architecture Thesaurus is recommended, and the vocabulary used may be indicated using an attribute.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:string">
              <xs:attribute name="lang" type="xs:string" use="optional" />
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="rights">
    <xs:annotation>
      <xs:documentation xml:lang="en">Information about the rights associated with the object, metadata and the
digital surrogate being harvested into the service environment based on MIDAS Heritage.  </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="copyright">
        <xs:annotation>
          <xs:documentation>General copyright of the resource</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="rightsHolder" type="xs:string">
              <xs:annotation>
                <xs:documentation>Person or organization that holds the rights of the resource.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="rightsDates" type="xs:date" />
            <xs:element minOccurs="0" maxOccurs="unbounded" name="creditLine" type="xs:string">
              <xs:annotation>
                <xs:documentation>(statement)
Content providers are strongly recommended to complete this element.</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="accessRights">
        <xs:annotation>
          <xs:documentation>Rights related with access to the resource</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="grantedTo" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="unbounded" name="conditions" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="dateFrom" type="xs:date" />
            <xs:element minOccurs="0" maxOccurs="1" name="dateTo" type="xs:date" />
            <xs:element minOccurs="0" maxOccurs="unbounded" name="statement" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="reproductionRights">
        <xs:annotation>
          <xs:documentation>Rights related with the reproduction of the resource</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="statement" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="unbounded" name="contacts" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="unbounded" name="fees" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="licence" type="xs:string">
        <xs:annotation>
          <xs:documentation>a URI indicating a license or conditions for the use of the object or data, e.g. a Creative Commons license  or the public domain mark . Use as an alternative or supplement to the information above.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="appellation">
    <xs:annotation>
      <xs:documentation xml:lang="en">This is information about the identifier (ID) and name of the monument (see section 11). The ID sub-element is the record ID in the CARARE repository and will be generated by CARARE on ingest. The name sub-element may be repeated if a monument is known by more than one name, using the XML:lang attribute if the names are in alternate languages. A preferred/alternate attribute may be used to indicate which name is preferred. </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="unbounded" name="name">
        <xs:annotation>
          <xs:documentation>this is the name of the entity. The name sub-element may be repeated if a monument is known by more than one name, using the XML:lang attribute if the names are in alternate languages. A preferred/alternate attribute may be used to indicate which value is preferred.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:string">
              <xs:attribute name="lang" type="xs:string" use="required" />
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="id" type="xs:string">
        <xs:annotation>
          <xs:documentation>an identifier of an object. The ID sub-element is the record ID in the CARARE repository and will be generated by CARARE on ingest. An attribute type should be accompany this sub-element denoting the type of the identifier (URI, ISBN, etc,)..</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="dimensions">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="measurementType" type="xs:string">
        <xs:annotation>
          <xs:documentation>e.g. height, length, width, depth, shape (e.g. oval)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="units" type="xs:string">
        <xs:annotation>
          <xs:documentation>e.g. metres, centimetres</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="scale" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="value" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="craft">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="placeOfRegistration" type="xs:string">
        <xs:annotation>
          <xs:documentation>of the ship</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="nationality" type="xs:string">
        <xs:annotation>
          <xs:documentation>of the ship</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="constructionMethod" type="xs:string">
        <xs:annotation>
          <xs:documentation>of the ship</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="propulsion" type="xs:string">
        <xs:annotation>
          <xs:documentation>of the ship</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="lastJourneyDetails">
        <xs:annotation>
          <xs:documentation>of the ship</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="departure" type="xs:string">
              <xs:annotation>
                <xs:documentation>Port of departure</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="destination" type="xs:string">
              <xs:annotation>
                <xs:documentation>Port of destination</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="cargo" type="xs:string">
              <xs:annotation>
                <xs:documentation>of the ship</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="1" name="mannerOfLoss" type="xs:string">
              <xs:annotation>
                <xs:documentation>how the ship was lost </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="1" name="dateOfLoss" type="xs:date">
              <xs:annotation>
                <xs:documentation>when the ship was lost </xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="temporal">
    <xs:annotation>
      <xs:documentation xml:lang="en">Information about the date and/or period of an entity.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="timeSpan">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="startDate" type="xs:date">
              <xs:annotation>
                <xs:documentation>The earliest date in the range
Content providers are strongly recommended to complete this element.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="endDate" type="xs:date">
              <xs:annotation>
                <xs:documentation>The latest date in the range
Content providers are strongly recommended to complete this element.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="dimension">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" maxOccurs="1" name="measurementUnit" type="xs:string">
                    <xs:annotation>
                      <xs:documentation>e.g. ‘years’</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element minOccurs="0" maxOccurs="1" name="value" type="xs:integer">
                    <xs:annotation>
                      <xs:documentation>e.g. '474'</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element minOccurs="0" maxOccurs="1" name="type" type="xs:string">
                    <xs:annotation>
                      <xs:documentation>e.g. ‘AD’, ‘BCE’, ‘BPE’. Use of a controlled vocabulary is recommended, and the vocabulary used may be indicated using an attribute. No particular common vocabulary is recommended for use.</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="dateRangeQualifier">
              <xs:annotation>
                <xs:documentation>The nature of the time span given (e.g. throughout, at some time during, etc). Use of a controlled vocabulary is recommended; the vocabulary used should be indicated using an attribute. No particular common vocabulary is recommended for use.</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension base="xs:string">
                    <xs:attribute name="namespace" type="xs:string" use="optional" />
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="periodName">
        <xs:annotation>
          <xs:documentation>The name given to the period in history when something occurred. Use of a controlled vocabulary, such as the Art and Architecture Thesaurus, is recommended; the vocabulary used should be indicated using an attribute. The element may be repeated using the XML:lang attribute if the element value is available in alternate languages. A preferred/alternate attribute may be used to indicate which value is preferred. </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:string">
              <xs:attribute name="lang" type="xs:string" use="optional" />
              <xs:attribute name="preferred" type="xs:boolean" use="optional" />
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="displayDate">
        <xs:annotation>
          <xs:documentation>a free text field used to display the date or period for users (e.g. early 19th century, 1950s). The element may be repeated using the XML:lang attribute if the element value is available in alternate languages. A preferred/alternate attribute should be used to indicate which value is preferred.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:string">
              <xs:attribute name="lang" type="xs:string" use="optional" />
              <xs:attribute name="preferred" type="xs:boolean" use="optional" />
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="scientificDate" type="xs:string">
        <xs:annotation>
          <xs:documentation>Date according to scientific dating methods, e.g. ‘1250 bp +/-30 PBN-1675’, recorded precisely as received from the specialist.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="scientificDateMethod" type="xs:string">
        <xs:annotation>
          <xs:documentation>e.g. ‘radiocarbon dating’. Use of a controlled vocabulary is recommended; the vocabulary used should be indicated using an attribute. No particular common vocabulary is recommended for use.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="spatial">
    <xs:annotation>
      <xs:documentation xml:lang="en">Information about locations or positions in space.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="locationSet">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="namedLocation">
              <xs:annotation>
                <xs:documentation>the name of a place or location which is relevant to the entity being described, for example ‘Lake Windermere’. The element may be repeated using the XML:lang attribute if the element value is available in alternate languages. A preferred/alternate attribute may be used to indicate which value is preferred. Use of a controlled vocabulary such as http://www.geonames.org/ is recommended
Content providers are strongly recommended to complete this element.</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension base="xs:string">
                    <xs:attribute name="lang" type="xs:string" use="optional" />
                    <xs:attribute name="preferred" type="xs:boolean" use="optional" />
                    <xs:attribute name="namespace" type="xs:string" use="optional" />
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="1" name="address" type="address">
              <xs:annotation>
                <xs:documentation>the postal address</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="1" name="geopoliticalArea" type="xs:string">
              <xs:annotation>
                <xs:documentation>the name of an administrative region which does not form part of the address, for example Scotland, England, Tuscany etc. May also be used for a historical geopolitical area, or an administrative unit (e.g. as defined in the INSPIRE directive).</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="1" name="geopoliticalAreaType">
              <xs:annotation>
                <xs:documentation>Use of a controlled vocabulary such as http://www.geonames.org/ is recommended, and the vocabulary used may be indicated using an attribute.</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension base="xs:string">
                    <xs:attribute name="namespace" type="xs:string" />
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="1" name="cadastralReference">
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension base="xs:string">
                    <xs:attribute name="ref" type="xs:string" />
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="historicalName">
              <xs:annotation>
                <xs:documentation>The element may be repeated using the XML:lang attribute if the element value is available in alternate languages. A preferred/alternate attribute may be used to indicate which value is preferred.</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension base="xs:string">
                    <xs:attribute name="lang" type="xs:string" use="optional" />
                    <xs:attribute name="preferred" type="xs:boolean" />
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="spatialReferenceSystem" type="xs:string">
        <xs:annotation>
          <xs:documentation>(how a feature is depicted in a GIS, e.g. point, line, polygon, multi-point, multi-line, multi-polygon). Use of a controlled vocabulary is recommended, and the vocabulary used may be indicated using an attribute. No particular common vocabulary is recommended for use.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="cartographicReference">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="spatialFeatureType" type="xs:string">
              <xs:annotation>
                <xs:documentation>(how a feature is depicted in a GIS, e.g. point, line, polygon, multi-point, multi-line, multi-polygon). Use of a controlled vocabulary is recommended, and the vocabulary used may be indicated using an attribute. No particular common vocabulary is recommended for use.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="1" name="coordinates">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" maxOccurs="1" name="x" type="xs:decimal">
                    <xs:annotation>
                      <xs:documentation>Content providers are strongly recommended to complete this element.</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element minOccurs="0" maxOccurs="1" name="y" type="xs:decimal">
                    <xs:annotation>
                      <xs:documentation>Content providers are strongly recommended to complete this element.</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element minOccurs="0" maxOccurs="1" name="z" type="xs:decimal" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="geometry">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="boundingBox">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" maxOccurs="1" name="minX" type="xs:decimal" />
                  <xs:element minOccurs="0" maxOccurs="1" name="maxX" type="xs:decimal" />
                  <xs:element minOccurs="0" maxOccurs="1" name="minY" type="xs:decimal" />
                  <xs:element minOccurs="0" maxOccurs="1" name="maxY" type="xs:decimal" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="1" name="quickpoint">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" maxOccurs="1" name="x" type="xs:decimal" />
                  <xs:element minOccurs="0" maxOccurs="1" name="y" type="xs:decimal" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="1" name="entity" type="xs:string">
              <xs:annotation>
                <xs:documentation>GML, Well-known text (WKT).</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="1" name="storedPrecision" type="xs:string">
              <xs:annotation>
                <xs:documentation>The precision of a coordinate as stored in the system and as delivered to the users.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="1" name="height" type="xs:decimal">
              <xs:annotation>
                <xs:documentation>Datum, units</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="1" name="area" type="xs:string">
              <xs:annotation>
                <xs:documentation>Units</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="representations" type="xs:string">
        <xs:annotation>
          <xs:documentation>How a feature is represented on a map</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="address">
    <xs:annotation>
      <xs:documentation xml:lang="en">This is the postal address for a building, contact, etc.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="buildingName">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:string">
              <xs:attribute name="lang" type="xs:string" />
              <xs:attribute name="authority" type="xs:string" />
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="NumberInRoad">
        <xs:annotation>
          <xs:documentation>the number in a road or street used to identify a property</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:string">
              <xs:attribute name="lang" type="xs:string" />
              <xs:attribute name="authority" type="xs:string" />
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="roadName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="townOrCity">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:string">
              <xs:attribute name="lang" type="xs:string" />
              <xs:attribute name="authority" type="xs:string" />
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="postcodeOrZipcode">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:integer">
              <xs:attribute name="lang" type="xs:string" />
              <xs:attribute name="authority" type="xs:string" />
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="locality">
        <xs:annotation>
          <xs:documentation>a named area within which a monument or building lies</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:string">
              <xs:attribute name="lang" type="xs:string" />
              <xs:attribute name="authority" type="xs:string" />
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="adminArea">
        <xs:annotation>
          <xs:documentation>the name by which an administrative area is known, e.g. Shropshire</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:string">
              <xs:attribute name="lang" type="xs:string" />
              <xs:attribute name="authority" type="xs:string" />
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="country">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:string">
              <xs:attribute name="lang" type="xs:string" />
              <xs:attribute name="authority" type="xs:string" />
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actors">
    <xs:annotation>
      <xs:documentation xml:lang="en">date of birth, date of death - if known.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="id" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="name" type="xs:string">
        <xs:annotation>
          <xs:documentation>the name of the person or organization)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="actorType">
        <xs:annotation>
          <xs:documentation>indicates whether the actor is an individual, a group of individuals or an organization.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:string">
              <xs:attribute name="lang" />
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="roles">
        <xs:annotation>
          <xs:documentation>the roles of the actor (creator, custodian, repository manager, curator, architect, sculptor, photographer, compiler, etc.). Use of a controlled vocabulary such as the Getty Art and Architecture thesaurus is recommended; the vocabulary used should be indicated using an attribute.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:string">
              <xs:attribute name="namespace" type="xs:string" use="optional" />
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="contacts" type="xs:string">
        <xs:annotation>
          <xs:documentation>contact information if known</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="vitalDates">
        <xs:annotation>
          <xs:documentation>date of birth, date of death if known.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="birthDate" type="xs:date" />
            <xs:element name="deathDate" type="xs:date" />
            <xs:element minOccurs="0" maxOccurs="1" name="type" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="placeOfBirth">
        <xs:annotation>
          <xs:documentation>Use of a controlled vocabulary such as http://www.geonames.org/ is recommended, and the vocabulary used may be indicated with an attribute.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:string">
              <xs:attribute name="namespace" type="xs:string" use="optional" />
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="placeOfDeath">
        <xs:annotation>
          <xs:documentation>Use of a controlled vocabulary such as http://www.geonames.org/ is recommended, and the vocabulary used may be indicated with an attribute.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:string">
              <xs:attribute name="namespace" type="xs:string" use="optional" />
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="placeOfActivity">
        <xs:annotation>
          <xs:documentation>Use of a controlled vocabulary such as http://www.geonames.org/ is recommended, and the vocabulary used may be indicated with an attribute.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:string">
              <xs:attribute name="namespace" type="xs:string" use="optional" />
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="bibliographicalNote">
        <xs:annotation>
          <xs:documentation>The element may be repeated using the XML:lang attribute if the element value is available in alternate languages. A preferred/alternate attribute may be used to indicate which value is preferred.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:string">
              <xs:attribute name="lang" type="xs:string" use="optional" />
              <xs:attribute name="preferred" type="xs:boolean" use="optional" />
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="contacts">
    <xs:annotation>
      <xs:documentation xml:lang="en">Information about how a person or organisation can be contacted</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="name" type="xs:string">
        <xs:annotation>
          <xs:documentation>title, first name, last name, other name</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="role" type="xs:string">
        <xs:annotation>
          <xs:documentation>the particular role played by the person or organization</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="organization" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="address" type="xs:string">
        <xs:annotation>
          <xs:documentation>the postal address of the person or organization</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="phone" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="fax" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="email" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="description">
    <xs:annotation>
      <xs:documentation xml:lang="en">The element may be repeated using the XML:lang attribute if the element value is available in alternate languages. A preferred/alternate attribute may be used to indicate which value is preferred.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="lang" type="xs:string" use="required" />
        <xs:attribute name="preferred" type="xs:boolean" />
        <xs:attribute name="type" type="xs:string" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="publicationStatement">
    <xs:annotation>
      <xs:documentation xml:lang="en" />
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="publisher" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="placeOfPublication" type="xs:string">
        <xs:annotation>
          <xs:documentation>of publication</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="date" type="xs:date">
        <xs:annotation>
          <xs:documentation>of publication</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="relations">
    <xs:annotation>
      <xs:documentation xml:lang="en">This is information about the relations between heritage assets, events or resources and other entities
	  </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Appelation" type="xs:string">
        <xs:annotation>
          <xs:documentation>Content providers are strongly recommended to complete this element.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="typeOfRelation" type="xs:string">
        <xs:annotation>
          <xs:documentation>e.g. ‘is successor of’, ‘is next in sequence’, ‘has part’
Content providers are strongly recommended to complete this element.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="targetOfRelation" type="xs:string">
        <xs:annotation>
          <xs:documentation>the ID number of the related heritage asset, event or resource
Content providers are strongly recommended to complete this element.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>